/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{

    background-image: url("projector-reels-opacitylayer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f7ede2;
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
/*    display: flex;
    justify-content: center;*/
    /*padding-left: 30%;
    padding-right: 30%;*/
}
ul {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    list-style-type: none;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
}
h1 {
    font-size: 40px;
    /*text-align: center;*/
    font-family: "BentonSansRE", "Helvetica", "Arial", sans-serif;
    display: flex;
    justify-content: center;
}

.hashtags p {

}
a:link {
    text-decoration: none;
    color: darkblue;
    text-shadow: 1px 1px 5px white;
}

a:visited {
     text-decoration: none;
 }
a:hover {
     color: #e09f3e;
    /*color: yellowgreen;*/
    /*color: yellow;*/
}

.movie-category p {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    /*display: flex;
    justify-content: left;*/
    text-align: left;
    padding-left: 35%;
    padding-right:30%;
}

.menu {
    /*width: 900px;*/
    display: flex;
    font-family: "Arial";
    justify-content: space-around;
    font-size: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #91321a;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 140px;
    font-size: 36px;
    margin-right: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #91321a;
    color: white;
    border: none;
}

.openbtn:hover {
    background-color: #c38879;
}
.submitreviewbtn {
    margin-top: 5%;
    margin-left: 45%;
}

#main {
    transition: margin-right .5s;
/*    margin-top: 2%*/
/*    padding: 16px;*/
}

.Review {
    background-color: #FFFFFF;
    border-style: double;
    text-align: center;
    display: block;
    margin: 1% 30%;
    padding: 5px;
}

.collapsible {
    background-color: #91321a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 15%;
    height: auto;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #c38879;
}

.content {

    max-height: 0;
    width: 25%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    display: block;
    /*justify-content: center;*/
    /*margin-top: 1%;*/
/*    margin-bottom: 1%;*/
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: left;
    /*border-style: double;*/
    /*padding: 0px 0px 1px 1px;*/
}

.field {
    width: 155px;
    clear: both;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.field input {
    width: 100%;
    clear: both;
}

.submitcommentbtn {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 70%;
}

.category {
/*    flex-wrap: wrap;
    flex-direction: column;*/
    /*flex-flow: column wrap;*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 22px;
}

.addedComment {
    background-color: #FFFFFF;
    border-style: double;
    text-align: center;
    display: block;
    margin: 1% 30%;
    padding: 5px;
}

.addedComment:hover {
    color:#91321a;
}

img {
    width:300px;
    height:400px
}