<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

<div id="main">
<header>
    <nav class="menu-container">
        <div class="menu">
            <a href="/">Reviews</a>
            <a href="/categories">Categories</a>
            <a href="/hashtags">Hashtags</a>
        </div>
    </nav>

</header>

<section class="categories">
    <h1>Categories</h1>
        <div class="category">
        <p class="category-column" th:each="categories:${categories}"><br><a th:text="${categories.name}"  th:href="'/category/'+ ${categories.id}"></a></p>
        </div>
</section>
</div>
</body>
</html>