<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
</head>
<body>

<header>
    <nav class="menu-container">
        <div class="menu">
            <a href="/">Reviews</a>
            <a href="/categories">Categories</a>
            <a href="/hashtags">Hashtags</a>
        </div>
    </nav>

</header>

<section class="reviews">
    <h1>Hashtags</h1>
    <ul>
        <li th:each="hashtags:${hashtags}"><a th:text="${hashtags.name}" th:href="'/hashtag/'+ ${hashtags.id}"></a></li>
    </ul>
</section>

</body>
</html>