<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

<header>
    <nav class="menu-container">
        <div class="menu">
            <a href="/">Reviews</a>
            <a href="/categories">Categories</a>
            <a href="/hashtags">Hashtags</a>
        </div>
    </nav>
    <h1 th:text="${category.category}">Categories</h1>
</header>

<section class = "movie-genre">
    <ul>
        <li th:each="review:${category}"><a th:text="${review.title}" th:href="'/review/'+ ${review.id}"></a></li>
    </ul>
</section>
</body>
</html>