<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <title th:text="${review.title}">Halloween Review</title>
</head>
<body>

<div id="main">
<nav class="menu-container">
    <div class="menu">
        <a href="/">Reviews</a>
        <a href="/categories">Categories</a>
        <a href="/hashtags">Hashtags</a>
    </div>
</nav>

<section>
   <header>
       <h1 th:text="${review.title}">Halloween</h1>
   </header>
    <img th:src="${review.poster}">
    <br>
    <a th:href="${review.trailer}">Watch Trailer</a>

    <section class = "Review">
        <h2 th:text="${review.author} + '\'s Movie Review'">Abel's Review</h2>
        <hr>
        <p th:text="${review.description}">This shit is scary as hell!!!</p>
    </section>
    <section class = "Hashtags">
        <p th:each="hashtag:${review.hashtag}"><a th:text="${hashtag.name}" th:href="'/hashtag/'+ ${hashtag.id}"></a></p>
    </section>

    <button class="collapsible">Add comment</button>

    <section class="content">

        <form action="/addComment"  method="POST">
            <div class = "field">
            <input type="hidden" id="id" name="id"  th:value="${review.id}">
            <label for="user">Name</label>
            <input type="text" id="user" name="user"><br>
            <label for="comment">Comment</label>
            <textarea type="text" id="comment" name="comment"></textarea><br>

                <div class = "submitcommentbtn">
                    <button type="submit" value="Comment">Comment</button>
                </div>
            </div>
        </form>

    </section>

    <p class="addedComment" th:each="comments:${comment}"><a th:text="${comments.comment} + ' ~' + ${comments.user}"></a> </p>
<!--    <p th:each="comments:${comment}"><a th:text=" "></a></a> </p>-->
</section>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</div>
</body>
</html>